:root{
  --main: #92223Fff;
  --darkSecondary: #222454ff;
  --lightSecondary: #4EAFE7ff;
  --secondary: #22297Fff;
  --black: #000507ff;
  --minWidth: 50rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;

}
div::-webkit-scrollbar {
  display: none;
}
div{
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
html{
  background-color: white;
}
body{
  margin: auto;
  overflow: scroll;
  background-color: var(--black);
  min-height: 100vh;
  height: fit-content;
}
